.input-field{
  margin:10px 0;
}
input{
  width: 320px;
}
textarea{
  width: 320px;
  height: 80px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}